@use "./variables.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  background-color: $color-white;
}

body {
  margin: 0px;
  min-height: 100vh;
}

button,
input {
  display: block;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
