// font-family
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

// font-size
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;

// font-weight
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;

// border-radius
$border-radius-sm: 4px;
$border-radius-md: 6px;
$border-radius-lg: 8px;

// colors
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #ef4723;
$color-orange-hover: #d63e1e;
$color-error: #f31000;
